* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  main {
    width:50%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    flex-direction: column;
  }
  .top-content {
    background-color: white;
    padding: 2em;
    width: 100%
    
  }
  .top-content h3 {
    color: rgb(141, 243, 243);
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
  }
  .top-content p.top {
    font-weight: bold;
    color: rgb(215, 220, 211);
    font-size: 15px;
    padding-bottom: 10px;
  }
  .bottom-content {
    display: flex;
    width: 100%
  }
  .bottom-content .top-bottom {
    background-color: rgb(27, 176, 176);
    padding: 2em;
    width: 50% 
  }
  .bottom-content .second-bottom {
    background-color: rgb(47, 237, 237);
    padding: 2em;
    width: 50%
  }
  